.resource {
  display: flex;
  justify-content: space-around;
  max-width: 90rem;
  margin: 0 auto;
}

.resource > * {
  margin-top: 3rem;
}

.RMdiv {
  display: flex;
  cursor: pointer;
}
.RMdiv:hover {
  background-color: rgb(226, 238, 240);
}
.RMdiv > img {
  margin: 2% 0 0 2%;
  border-radius: 10px;
  height: 20%;
}

@media (max-width: 623px) {
  .resource {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-beetween;
  }
}
@media (max-width: 768px) {
  .resource {
    margin-top: 4rem;
  }
}
