.resource {
    display: flex;
    margin-top: 20px;
  }
  
  .resource_left {
    /* border: 1px solid red; */
  
    width: 18%;
    margin: 2% 0 0 4.5%;
    /* $(media.desktop){
      display: none;
  } */
  }
  .leftT_box {
    /* border: 1px solid rgb(89, 0, 255); */
    background-color: white;
    border-radius: 10px;
  }
  
  .L_box {
    display: flex;
    padding: 5%;
    /* border: 1px solid red; */
  }
  .L_logo > img {
    /* border: 1px solid red; */
    width: 20px;
  }
  .L_name {
    /* border: 1px solid red; */
    width: 80%;
    font-size: 90%;
  
    padding-left: 5%;
    /* margin-left: ; */
  }
  .L_name:hover {
    text-decoration: underline;
  }
  
  .leftB_box {
    display: flex;
    padding: 3% 19%;
    margin: 5%;
    border: 2px solid rgb(3, 98, 223);
    color: rgb(3, 98, 223);
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .leftB_box:hover {
    cursor: pointer;
    background-color: rgb(215, 233, 255);
  }
  .B_name {
    padding-left: 5%;
  }
  .LB_logo > img {
    width: 25px;
  }
  
  /* ........................Middle..................... */
  .resource_middle {
    width: 43%;
    margin: 2%;
  }
  /* .......................middle_T.................... */
  .middleT_div {
    display: flex;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 2% 3%;
    background-color: white;
  }
  .MTcontent {
    font-size: medium;
    /* border: 1px solid red; */
    width: 88.5%;
    height: 100px;
  }
  .MTcontent > h1 {
    font-size: 100%;
    margin: 3% 0;
  }
  
  .MTcontent > h3 {
    font-size: 90%;
    margin: 2% 0;
  }
  
  .MTcontent > h5 {
    font-size: 80%;
    margin: 0%;
    /* border: 1px solid red; */
    color: gray;
  }
  .green {
    color: green;
  }
  
  .clear_button {
    width: 10%;
    height: 10%;
    margin: 4% 1% 0 1%;
    background-color: white;
    border: none;
    color: gray;
    cursor: pointer;
    /* border: 1px solid red; */
  }
  .clear_button:hover {
    padding: 2%;
    margin: 2% 0 0 0.5%;
    border-radius: 50px;
    background-color: gainsboro;
  }
  /* ................................middle_B.................... */
  .middleM_div {
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid red; */
    /* padding: 1% 3%; */
    margin-top: 3%;
  }
  .middleM_div > h1 {
    font-size: 100%;
    padding: 2% 3%;
    /* border: 1px solid red; */
  }
  .middleM_div > p {
    font-size: 80%;
    color: gray;
    margin: -3% 3% 5% 3%;
    /* border: 1px solid red; */
  }
  /* ...........middle bottom........ */
  .middleB_div {
    display: flex;
    /* border: 1px solid rgb(233, 6, 214); */
    cursor: pointer;
  }
  .Ml_logo > img {
    width: 55%;
  
    margin: 7% 6%;
    /* border: 1px solid red; */
  }
  .Mm_content {
    width: 70%;
    margin: 0 0 0 -6%;
    /* border: 1px solid blue; */
  }
  
  .Mm_content > h1 {
    font-size: 100%;
    color: rgb(3, 98, 223);
  }
  .Mm_content > h1:hover {
    text-decoration: underline;
  }
  .Mm_content > p {
    font-size: 100%;
    line-height: 0.5;
    color: gray;
  }
  .active_logo {
    display: flex;
    height: auto;
    /* border: 1px solid blue; */
    margin-top: -2%;
  }
  .active_logo > img {
    width: 40px;
    height: 40px;
  }
  .active_logo > p {
    /* border: 1px solid blue; */
    margin: 2% -1%;
    height: 5%;
    color: gray;
  }
  .content_bottom > p {
    color: gray;
    margin-top: 1%;
  }
  .Mr_logo {
    display: flex;
    padding: 3% 0 0 2%;
    width: 15%;
    /* border: 1px solid rgb(24, 255, 101); */
  }
  .Mr_logo > img {
    width: 20px;
    height: 20px;
    padding: 2%;
    margin: 8%;
  }
  .Mr_logo > img:hover {
    background-color: gainsboro;
    padding: 10%;
    margin: 0 0 0 2%;
    border-radius: 50px;
  }
  
  /* .......................right................. */
  .resource_right {
    width: 25%;
    margin: 2% 0 0 0.5%;
  
    /* border: 1px solid red; */
  }
  
  .RtopBox {
    border-radius: 10px;
    background-color: white;
    /* margin-top: -0.5%; */
    padding: 1% 5%;
  }
  .RTdiv {
    /* border: 1px solid red; */
  
    line-height: 0.5;
  }
  .RTdiv > h1 {
    font-size: 100%;
  }
  .RTdiv > p {
    font-size: 100%;
    color: gray;
  }
  .RMdiv {
    display: flex;
    cursor: pointer;
    /* border: 1px solid rgb(55, 0, 255); */
  }
  .RMdiv:hover {
    /* padding: 0 2%; */
  
    background-color: rgb(226, 238, 240);
  }
  .RMdiv > img {
    /* width: 20%; */
    margin: 2% 0 0 2%;
    border-radius: 10px;
    height: 20%;
  }
  .RBdiv > p {
    color: rgb(201, 122, 247);
    cursor: pointer;
  }
  .RbottomBox {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .RbottomBox > p {
    width: 90%;
    cursor: pointer;
    font-size: 85%;
    color: gray;
  }
  /* .RbottomBox>p:hover{
      text-decoration: underline solid blue;
  } */
  .RBlink {
    display: flex;
  }
  .RBlink > img {
    width: 25%;
    height: 20%;
    border-radius: 10px;
  }
  .RBlink > p {
    font-size: 80%;
    margin-top: 2.5%;
  }
  
  /* .try{
      width:80px;
      background-color: aquamarine;
      border: 2px solid red;
  } */
  @media (max-width: 623px) {
    .resource {
      display: block;
    }
    .resource_left {
      display: none;
    }
    .resource_middle {
      width: 95%;
      margin: auto;
    }
    .resource_right {
      width: 95%;
      margin: auto;
      /* text-align: center; */
      /* border: 1px solid red; */
    }
    .RBlink > img {
      width: 12%;
      height: 25px;
      margin: 2% 0 0 25%;
      /* border: 1px solid red; */
    }
  }
  