
.popup{
    width:56% ;
    border-radius: 10px;
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid rgb(201, 201, 201);
    height:  70%;
    
}
hr{
    width: 103.5%;
    margin-left: -1.90%;
    margin-top: 1% ;
}
.top{
    display: flex;

  
}
.top>p{
    font-size: 130%;
    /* border: 1px solid red; */
    width: 95%;
    margin-top: -0.5%;
}
.top>img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* margin: 0 0 0 85%; */
}
.top>img:hover{
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(209, 209, 209);
}

.content{
    height: 300px;
    overflow-y: scroll;
    /* border: 1px solid blue; */
}
.subContent{
    display: flex;
}
.leftCon{
    width: 85%;
    line-height:5px;
    /* border: 1px solid red; */
}
.leftCon>h4:hover{
    color: rgb(27, 126, 255);
    text-decoration: underline;
    cursor: pointer;
}
.leftCon>p{
    color: gray;
}
.gray{
    color: gray;
}
.rightCon{
    display: flex;
}
.rightCon>img{
    width: 20px;
    margin: 15%;
    height: 20px;
    padding: 10%;
    /* border: 3px solid red; */
}
.rightCon>img:hover{
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(209, 209, 209);
}

.bottom{
    display: flex;
}
.leftB{
    width: 85%;
    line-height:5px;
}
.blue{
    color: rgb(27, 126, 255);
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
}
button{
    border-radius: 50px;
    padding: 7px 20px;
    background-color: rgb(27, 126, 255);
    color: white;
    border: none;
    margin: 0 0 0 84.5%;
    cursor: pointer;
}

/* .......toggle_btn..... */


.rightB{
    /* border: 1px solid red; */
    margin: 3% 0 0 -1%;
}
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .3s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

