.LeftBox {
    background-color: #cdcdcd;
    border-radius: 8px;
    width: 100%;
  }
  
  .LeftBox > h4 {
    padding-top: 4%;
    padding-left: 8%;
    font-weight: 100;
    font-size: 17px;
    color: black;
    width: 100%;
  }
  .data {
    display: flex;
    flex-direction: column;
  }
  
  .data > div {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 8px;
    color: grey;
  }
  
  .data > div :nth-child(1) {
    margin-left: 10px;
  }
  .data > div :nth-child(2) {
    margin-left: 20px;
  }
  .data > div :nth-child(3) {
    margin-left: 10px;
  }
  .data img {
    width: 25px;
    height: 25px;
  }
  .info:nth-child(1) {
    margin-left: 6px;
  }
  .data > div:hover {
    background-color: rgb(218, 216, 216);
  }
  #btn {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    border: none;
    background-color: white;
  }
  
  #btn > span {
    font-size: 17px;
  }
  .arrow {
    position: fixed;
    margin-top: 2px;
    margin-left: 3px;
  }
  