.bottommain {
    background-color: white;
    width: 48.5%;
    margin-top: 20px;
    margin-left: 34%;
    border-radius: 8px;
  }
  .bottomsup {
    display: grid;
    grid-template-columns: repeat(4, 180px);
  }
  
  .bottomsup > div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
  }
  
  .bottommain :hover {
    cursor: pointer;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details img {
    border-radius: 100%;
    margin-left: 30%;
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }
  #immmg {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/linkedin-clone-3e412.appspot.com/o/navbar%2FScreenshot%20(69).png?alt=media&token=863026c0-6125-4d1a-a3e7-27af12cb56f7");
    height: 70px;
    width: 99%;
    border-radius: 8px;
  }
  .hhhh {
    margin-top: 20px;
    font-size: 18px;
  }
  .hhhh:hover {
    text-decoration: underline;
  }
  h5 {
    color: gray;
    font-weight: 100;
    margin-top: 5px;
  }
  .button1 {
    color: #1c71c6;
    width: 130px;
    height: 40px;
    border: 1px solid #1c71c6;
    background-color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .button1:hover {
    background-color: #b3d4ff;
  }
  .heeei {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
  }
  #sgg {
    padding: 15px;
  }
  