.righton {
    background-color: #cdcdcd;
    border-radius: 8px;
  }
  #invitations {
    display: flex;
    border-bottom: 1px solid grey;
    height: 45px;
    width: 98%;
  }
  
  #seeall {
    margin-left: 460px;
  }
  
  .followreq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .followpics {
    display: flex;
    border-bottom: 1px solid grey;
    width: 100%;
  }
  .followpics > img {
    border-radius: 50%;
    width: 60px;
    height: 50px;
  }
  .followpics > img {
    margin-top: 15px;
    margin-left: 10px;
  }
  .followd {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .followd > a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.596);
  }
  .followd > a:hover {
    text-decoration: underline;
  }
  .followd > a:nth-child(1) {
    color: black;
  }
  .followd > a:nth-child(2) {
    font-size: 14px;
  }
  .linkchain {
    display: flex;
  }
  .ignore {
    margin-top: 25px;
    margin-left: 190px;
    width: 70px;
    height: 40px;
  
    padding: auto;
  }
  
  .ignore > button {
    width: 80px;
    height: 40px;
    border: white;
    background-color: white;
    font-size: 16px;
  }
  .ignore > button:hover {
    background-color: antiquewhite;
    cursor: pointer;
  }
  
  .acceptbtn > button {
    color: #1c71c6;
    width: 90px;
    height: 40px;
    border: 1px solid #1c71c6;
    background-color: white;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 20px;
  }
  
  .acceptbtn > button:hover {
    background-color: #b3d4ff;
  }
  
  #heyyy {
    height: 40px;
    width: 100%;
    text-align: center;
  }
  #heyyy :hover {
    cursor: pointer;
    background-color: #b3d4ff;
  }
  
  #heyyy > div {
    height: 30px;
    padding: 5px;
    font-size: 20px;
  }
  
  .mylast {
    width: 46.4%;
  
    background-color: white;
  }
  