@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
:root,
body,
html {
  background-color: #e9e9e9;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
