
:root,body,html {
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

div,h1,h2,h3,h4,h5,h6,navbar,html,i,img,label,li,nav,p,small,span,ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
}

input, textarea {
  font-family: sans-serif; color: #333;
}
textarea {
  padding: .5rem 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}